## Copy to local.properties and adjust path to your Android SDK installation.
## Windows example: sdk.dir=C\:\\Users\\<your-user>\\AppData\\Local\\Android\\Sdk
## macOS example:   sdk.dir=/Users/<your-user>/Library/Android/sdk
## Linux example:   sdk.dir=/home/<your-user>/Android/Sdk
sdk.dir=/absolute/path/to/Android/Sdk
